@import './Card.scss';

body
 {
   margin: 0;
   padding: 0;
   background: #232323;
   color: #cdcdcd;
   font-family: "Avenir Next", "Avenir", sans-serif;
 }
 
// Header
 a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 a:hover
 {
   color: tomato;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 3;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.25s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.25s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.3s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }

 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu
 {
   position: absolute;
   width: 100%;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
 }
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 .header {
   z-index: 4;
     position: fixed;
     width: 100%;
     height: 120px;
     font-size: 3em;
     background-color: rgba(50,50,50,1);
 }
// End Header

// Card https://codepen.io/ian-s/pen/NOeOWO
.cardSlider {
  width: 70vw;
  overflow: auto;
  max-width: 650px;
  max-height: 650px;
  height: auto;
  outline: 1px dotted red;
  white-space: nowrap;
  margin: auto;
  overflow-y: hidden;
}
.card {
  width: 70vw;
  height: 70vw;
  max-width: 650px;
  max-height: 650px;
  display: inline-flex;
  outline: 1px dotted green;
  overflow: hidden;
}
.inner {
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 300%;
}

.inner img {
  width: 100%;
  height: 100%;
}
// End Card

 .content {
    padding-top: 120px;
    font-size: 200%;
 }

 .title {
     text-align: center;
 }

 ul {
  list-style-type : none;
  margin: 0;
  padding: 0;
 }
 .article {
   margin: auto;
   margin-top: 12px;
   margin-bottom: 12px;
   width: 95vw;
   height: 100vw;
 }